<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>

      <div class="wrapper">
      {% include ads.html %}
      </div>

      <div class="wrapper">
      {% include comments.html %}
      </div>

    </div>

    {% include footer.html %}

  </body>

  <script >
  var host = "dhdersch.github.io";
  if ((host == window.location.host) && (window.location.protocol != "https:"))
      window.location.protocol = "https";
  </script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-SCKKCLK0ZQ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-SCKKCLK0ZQ');
</script>

</html>
